h3{
    font-style: normal;
    font-family:Gill Sans, sans-serif;

}
/* p{
    font-size:14px;
    font-weight: bolder;
} */
.font-color{
    font-weight: bolder;
    font-style: normal;
    font-family: Gill Sans, sans-serif;
    font-size:15px;
}

.Select-ship{
    margin-top:15px;

}

.fa-trash{
    padding: 0 !important;
    color:red;
    font-size: 16px;

}
.fa-pencil-square-o{
    color: blue;
    font-size: 15px;
}

.text-width {
    width:80px;
}
strong{
    font-style: normal;
    font-family:Gill Sans, sans-serif;
}

.toot-tip{
	content:attr(data-tip);
	position:absolute;
	top:-35px;
	left:0px;
	background:#1a1a1a;
    color:#fff;
    width: 300px;
	z-index:9;
	font-size: 0.75em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    white-space:nowrap;
	word-wrap:normal;
}
/* body .p-autocomplete.p-autocomplete-multiple .p-autocomplete-multiple-container .p-autocomplete-input-token input {
    font-size: 14px;
    padding: 0;
    margin: 0;
    width: 320px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    overflow: scroll;
   Height:20PX;
} */

body .p-inputtext {
    border: 1px solid #e4e7ea!important;
    height: 100px;
    overflow-y: scroll !important;
    width: 100%;
}

.p-autocomplete {
    width: 100% !important;
}
/* #TooltipExample{
    position: absolute;
    right: 0; 
    top:2px;
    color:#20a8d8;
    letter-spacing: -0.3ch;
    font-style: normal;
    line-height: 1;
-webkit-font-smoothing: antialiased;
font-size:17px;
} */
.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
    cursor: pointer;
}
form{
    padding:20px;
}
.btn-Delete{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
}
.form-control{
    font-style: normal;
    font-family:Gill Sans, sans-serif;
}
#exampleText{
    height:100px !important;
}

.customColor{
    background-color: #5cb85c;
    color: white
}

.weightColor{
    background-color: #ADD8E6;
    color: white
}


/* Reset CSS
   ========================================================================== */
   /* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; } */
    
     /* body { 
        background: #f5f7fa;   color: #434343; font-size: 16px; line-height: 1; }  */
    
    /* Common CSS
       ========================================================================== */
    ol, ul { list-style: none; }
    h2, h3, h4, h5{ color:  #434343;}
    *:focus, *:hover {outline: 0!important;}
    a, .btn { transition: all 0.5s ease; }
    a:active, a:hover, a:focus, .btn:focus, .btn:active, .btn:hover { outline: 0; }
    a { color: #137ec1; text-decoration: none; }
    a:focus, a:hover { color: #7BB0FF; text-decoration: none; }
    
    b, strong { font-weight: bold; }
    small { font-size: 80%; }
    sub, sup { font-size: 72%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.4em; }
    sub { bottom: -0.25em; }
    
    img { border: 0; vertical-align: middle; }
    
    hr { box-sizing: content-box; height: 0; }
    
    *:focus { outline: 0!important; }
    
    svg:not(:root) { overflow: hidden; }
    
    /*-------------------------------------------------------*/
    /*  Common Css
    /*-------------------------------------------------------*/
    .block{ display: block;}
    
    .btn{ border-radius: 3px;
        font-size: 14px;
        /* font-weight: 500; */
        padding: .5rem 1rem;}
    .btn i { margin-right: 2px; }
    
    .btn-md { font-size: 18px; font-weight: 500; }
    .btn-md span { font-size: 12px; font-weight: 400; }
    
    .btn-default{ background: #137ec1; border-color: #137ec1;  color: #ffffff; }
    .btn-default:hover, .btn-primary:focus{ background: #1a95e2; border-color: #1a95e2;color: #ffffff; }
    
    .btn-primary{ background: #37bc9b; border-color: #37bc9b;  color: #ffffff; }
    .btn-primary:hover, .btn-primary:focus{ background: #FF6767; border-color: #FF6767;color: #ffffff; }
    
    .btn-border{background-color: #fff; border-color: #eaeaea; color: #333; }
    .btn-border:hover, .btn-border:focus{ background: #f5f5f5; border-color: #e6e6e6;color: #212529; }
    
    .btn-labeled { padding-top: 0; padding-bottom: 0; }
    .btn-label { position: relative; display: inline-block; padding: .5rem 1rem; left: -1rem; border-radius: .25rem 0 0 .25rem; border-right: 1px solid rgba(78, 78, 78, 0.1); }
    
    .btn-sm-icon { padding: .319rem .35rem; font-size: 13px; line-height: 1; height: 26px; width: 26px; }
    .btn-sm-icon i { margin-right: 0; vertical-align: top; }
    
    .txtDefault{ color: #d8215e; }
    .bgDefault{ background: #137ec1;}
    /*-------------------------------------------------------*/
    /*  Element Css
    /*-------------------------------------------------------*/
    #main-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; }
    #main-wrapper #content-wrapper { background: #f5f7fa; width: 100%; }
    
    .dropdown-toggle::after { display: inline-block; margin-left: .255em; vertical-align: middle; content: ""; width: .5em; height: .5em; border-width: 1px 0 0 1px; border-style: solid; border-color: initial; -webkit-transform: rotate(224deg) translateY(-50%); transform: rotate(224deg) translateY(-50%); -webkit-transform-origin: top; position: relative; top: 2px; }
    /*-------------------------------------------------------*/
    /*  Preloader Css
    /*-------------------------------------------------------*/
    #preloader { height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99999999999; background: #fff; } 
    .loader { position: absolute; width: 5rem; height: 10rem; top: 50%; margin: 0 auto; left: 0; right: 0; transform: translateY(-50%); }
    .circular { animation: rotate 2s linear infinite; height: 100%; transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; } 
    .path { stroke-dasharray: 1, 200; stroke-dashoffset: 0; animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; stroke-linecap: round; }
    
    @keyframes rotate { 100% { transform: rotate(360deg); } }
    @keyframes dash {
    0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
    50% { stroke-dasharray: 89, 200; stroke-dashoffset: -3.5rem; }
    100% { stroke-dasharray: 89, 200; stroke-dashoffset: -12.4rem; } }
    
    @keyframes color {
    100%, 0% { stroke: #d62d20; }
    40% { stroke: #0057e7; }
    66% { stroke: #008744; }
    80%, 90% { stroke: #ffa700; } }
    
    /*-------------------------------------------------------*/
    /*  Header Navigation Css
    /*-------------------------------------------------------*/
    /* .topbar, .sidebar-brand  { background: #fff; height: 4.375rem;  box-shadow: 3px 2px 4px rgba(0,0,0,0.08);  }
    .sidebar-brand{ position: relative; z-index: 1; box-shadow: -3px 2px 4px rgba(0,0,0,0.08); } */
    
    /* .navbar-nav { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding-left: 0; margin-bottom: 0; list-style: none; } */
    
    /* .hamburger { display: inline-block; position: relative; width: 22px; margin-right: 15px; padding: 0; }
    .hamburger span { background: #494949; height: 2px; display: block; margin: 5px 0; } */
    
    /* .topbar .rightNavbar .nav-item.dropdown.no-arrow .dropdown-toggle::after{display: none;}
    .sidebar .nav-item .nav-link,.topbar .nav-item .nav-link{position:relative} */
    
    /* .topbar .nav-item .nav-link .badge-counter { position: absolute; -webkit-transform: scale(.7); transform: scale(.7); -webkit-transform-origin: top right; transform-origin: top right; right: .25rem; margin-top: -.25rem; border-radius: 100%; height: 24px; width: 24px; line-height: 18px; font-size: 13px; }
    .topbar .nav-item .nav-link .img-profile{height:2rem;width:2rem}
    .topbar .topbar-divider{width:0;border-right:1px solid #e3e6f0;height:calc(4.375rem - 2rem);margin:auto 1rem}
    
    .topbar .nav-item .nav-link{color:#76838f;height:4.375rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 .75rem}
    .topbar .nav-item .nav-link:focus{outline:0}
    .topbar .nav-item:focus{outline:0}
    
    .topbar .dropdown{position:static}
    .topbar .dropdown .dropdown-menu{width:calc(100% - 1.5rem);right:.75rem}
    .topbar .dropdown-list{padding:0;border:none;overflow:hidden}
    
    .topbar .dropdown-list .dropdown-header { background-color: #F9FAFC; padding-top: .75rem; padding-bottom: .75rem; }
    .topbar .dropdown-list .dropdown-item{ font-size: 14px; white-space:normal;padding-top:.5rem;padding-bottom:.5rem;border-left:1px solid #e3e6f0;border-right:1px solid #e3e6f0;border-bottom:1px solid #e3e6f0;line-height:1.3rem}
    .topbar .dropdown-list .dropdown-item .dropdown-list-image{position:relative;height:2.5rem;width:2.5rem}
    .topbar .dropdown-list .dropdown-item .dropdown-list-image img{height:2.5rem;width:2.5rem}
    .topbar .dropdown-list .dropdown-item .dropdown-list-image .status-indicator{background-color:#eaecf4;height:.75rem;width:.75rem;border-radius:100%;position:absolute;bottom:0;right:0;border:.125rem solid #fff}
    .topbar .dropdown-list .dropdown-item .text-truncate{max-width:10rem}
    .topbar .dropdown-list .dropdown-item:active{background-color:#eaecf4;color:#3a3b45}
     */
    /* @media (min-width:576px){.topbar .dropdown{position:relative}
    .topbar .dropdown .dropdown-menu{width:auto;right:0}.topbar .dropdown-list{width:20rem!important}
    .topbar .dropdown-list .dropdown-item .text-truncate{max-width:13.375rem}
    .topbar .dropdown .dropdown-menu { width: auto; right: 0; }
    }
    .topbar .navbar-nav .nav-item .nav-link:hover{color:#b7b9cc}
    .topbar .navbar-nav .nav-item .nav-link:active{color:#858796}
     
    .text-gray-400 { color: #d1d3e2!important; }
    .dropdown .dropdown-menu { font-size: .85rem; }
    
    .topbar .dropdown .dropdown-menu.dropdown-menu-right { border: 0; padding: 0; }
    .topbar .dropdown .dropdown-menu.dropdown-menu-right a { padding: 8px; } */
    
    /*-------------------------------------------------------*/
    /*  Sidebar Css
    /*-------------------------------------------------------*/
    /* .sidebar { background: #263238; width: 15rem!important; min-height: 100vh;    transition: all .2s ease; }
    .sidebar .sidebar-brand .sidebar-brand-icon { display: none; }
    
    .navbar-nav.sidebar > li.nav-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: relative; color: #b2b9be;    border-bottom: 1px solid rgba(241, 244, 245, 0.08); }
    .navbar-nav.sidebar > li.nav-item a{ position: relative; display: block; padding: 1rem 1.25rem; outline-width: 0; transition: all .3s ease-out; color: #b2b9be; font-size: 14px; }
    .navbar-nav.sidebar > li.nav-item .icon { width: 16px; vertical-align: bottom; opacity: 0.8; margin-right: 2px; }
    .navbar-nav.sidebar > li.nav-item a:hover { background: #191e23; }
    .navbar-nav.sidebar > li.nav-item.active a, .navbar-nav.sidebar > li.nav-item.active a:hover { background: #137ec1; color: #fff; }
    .navbar-nav.sidebar > li.nav-item a > i { font-size: 0.95rem; display: inline-block; vertical-align: middle; padding: 0 0.4375rem 0 0; color: #b2b9be; }
    
    .navbar-nav.sidebar > li.nav-item a.has-arrow:after { position: absolute; content: ""; width: .5em; height: .5em; border-width: 1px 0 0 1px; border-style: solid; border-color: initial; right: 1.5em; -webkit-transform: rotate(224deg) translateY(-50%); transform: rotate(224deg) translateY(-50%); -webkit-transform-origin: top; transform-origin: top; top: 50%; transition: all .3s ease-out; }
    .navbar-nav.sidebar > li.nav-item a.has-arrow.collapsed:after { -webkit-transform: rotate(135deg) translateY(-50%); transform: rotate(135deg) translateY(-50%); -webkit-transform-origin: top; transform-origin: top; }
    .navbar-nav.sidebar > li.nav-item ul li a { color: #76838f; }
    .navbar-nav.sidebar > li.nav-item ul li a { padding: 0.625rem 0.9375rem 0.625rem 2.8125rem; }
    
    .sidebar.toggled { width: 0!important; overflow: hidden; }
    .sidebar.toggled > li.nav-item a > span, .sidebar.toggled > li.nav-item a.has-arrow:after, .sidebar.toggled .sidebar-brand-text { display: none; }
    .sidebar.toggled > li.nav-item > ul { position: absolute; left: 3.75rem; top: 2.9375rem; width: 11.875rem; z-index: 1001; display: none; padding-left: 1px; }
    .sidebar.toggled > li.nav-item:hover > ul { display: block; height: auto; overflow: visible; }
    .sidebar.toggled > li.nav-item:hover > a > span { display: inline-block; padding-left: 18px; }
    .sidebar.toggled > li.nav-item:hover > a { width: 200px; position: relative; z-index: 9; }
    .sidebar.toggled > li.nav-item { position: relative; }
    .sidebar.toggled > li.nav-item:hover > ul a { padding: 0.625rem 0.9375rem 0.625rem 0.9375rem; margin-left: -.1rem; }
    .sidebar.toggled .sidebar-brand .sidebar-brand-icon{display: block;}
    
    @media (min-width: 768px){
    .sidebar.toggled { overflow: visible; width: 56px!important; }
    }
     */
     header.app-header {
        background: #fff;
        box-shadow: 3px 2px 4px rgba(0,0,0,0.08);
        border: 0px;
    }
    
    .app-header .navbar-brand {
        width: 202px;
    }
    .sidebar {
        background: #263238;
        min-height: 100vh;
        transition: all .2s ease;
    }
    .sidebar li.nav-item {
        color: #b2b9be;
        border-bottom: 1px solid rgba(241, 244, 245, 0.08);
    }
    .sidebar .nav li.nav-item a {
        position: relative;
        display: block;
        padding: 0.8rem 1.25rem;
        outline-width: 0;
        transition: all .3s ease-out;
        color: #b2b9be;
        font-size: 14px;
    }
    .sidebar .nav li.nav-item a.active,.sidebar .nav li.nav-item a:hover {
        background: #137ec1;
        color: #fff;
    }
    /*-------------------------------------------------------*/
    /* Form Css
    /*-------------------------------------------------------*/
    .form-label { font-size: 14px; font-weight: 600; color: #111111; margin-bottom: 5px; display: block; }
    .req{ color:red;}
    .form-control { border-color: #dde6e9; border-radius: 0; height: calc(1.5em + .75rem + 10px); font-size: 15px; }
    .resizeno{ resize: none;}
    
    select.form-control{ display: inline-block; line-height: 1.5em; padding-right: 50px; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; background: url(./../../../assets/img/brand/down-arrow.svg); background-position: calc(100% - 15px) 12px; background-size: 20px; background-repeat: no-repeat;     background: #137ec1;
        border-color: #137ec1;
        color: #ffffff;}
    
    .uploadfile { cursor: pointer; border: 1px dashed #dde6e9; min-height: 121px; position: relative; }
    .uploadfile .file-message { font-size: 30px; cursor: pointer; text-align: center; margin: 0 0 6px; color: #9a9a9a; }
    .uploadfile .file-select-name { font-size: 14px; color: #9a9a9a; font-weight: 600; }
    .uploadfile .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
    
    .file-upload{display:block; }
    .file-upload .file-select { display: block; border: 1px solid #dde6e9; color: #34495e; cursor: pointer; height: 42px; line-height: 42px; text-align: left; background: #FFFFFF; overflow: hidden; position: relative; }
    .file-upload .file-select .file-select-button { background: #137ec1; padding: 0 10px; float: right; font-size: 15px; height: 41px; line-height: 40px; color: #fff; font-weight: 600; text-transform: uppercase; min-width: 120px; text-align: center; }
    .file-upload .file-select .file-select-name { display: inline-block; padding: 0 15px; font-size: 14px; font-weight: 600; vertical-align: top;}
    .file-upload .file-select input[type=file] { z-index: 100; cursor: pointer; position: absolute; height: 100%; width: 100%; top: 0; left: 0; opacity: 0; filter: alpha(opacity=0); }
    
    /*-------------------------------------------------------*/
    /* Content section Css
    /*-------------------------------------------------------*/
    .content-body .content-heading { display: flex; align-items: center; color: #111111; margin: 0px -15px 20px; padding: 15px; font-weight: 400;  background: #ffffff; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #e9e9ef; }
    @media (min-width: 768px){ 
    .content-body .content-heading { margin: 0px -15px 20px; padding: 15px; }
    }
    .content-body .content-heading h1 { font-size: 20px; }
    .content-body .content-heading .breadcrumb { border: 0px; margin-bottom: 0; padding: 0; background: transparent; font-size: 0.875rem; float: right; }
    .content-body .content-heading .breadcrumb li { margin-top: 0; margin-bottom: 0; }
    .content-body .content-heading .breadcrumb li a { color: #555555; }
    
    .card { margin-bottom: 1.25rem; border-color: transparent; border-radius: 0px; }
    .card-default { border-color: #cfdbe2; }
    .card-default .card-body{padding: 15px;}
    
    .card-shipping .btn-dropdown { display: block; width: 100%; }
    .card-shipping .btn-dropdown .btn.dropdown-toggle { display: block; width: 100%; border-radius: 0px; text-align: left; height: 44.5px;    font-size: 17px; font-weight: 400; }
    .card-shipping .btn-dropdown .btn.dropdown-toggle:after { float: right; width: 15px; height: 15px; border-width: 2px 0 0px 2px; top: 8px; }
    
    .dropdown-default .dropdown-menu { background: #137ec1; width: 100%; border-radius: 0; margin: 0; padding: 0; }
    .dropdown-default .dropdown-menu a { cursor: pointer; color: #fff; padding: 13px 15px; border-top: 1px solid rgba(255, 255, 255, 0.2); }
    .dropdown-default .dropdown-menu a:hover { background: #1a95e2; }
    
    .sectionBox { border: 1px solid #e0eef7; padding: 12px; margin-bottom: 15px; position: relative;}
    /* .sectionBox:after,.sectionBox:before { bottom: 100%; left: 45%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
    .sectionBox:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 12px; margin-left: 1px; }
    .sectionBox:before { border-color: rgba(224, 238, 247, 0); border-bottom-color: #e0eef7; border-width: 13px; } */
    
    .card-shipping h2.title { color: #111111; font-weight: 600; font-size: 18px; margin-bottom: 15px; }
    
    .resultSection { border-top: 0px solid #cfdbe2; margin: 0 -15px; padding: 0px 15px 0;}
    .table-default {
        min-width: 767px;
    }
    .table-default th, .table-default td { font-size: 13px; text-align: center; color: #6c757d; vertical-align: middle; }
    .table-default th { background: #137ec1; color: #fff; font-size: 13px; text-transform: uppercase; font-weight: 600; }
    .table-striped tbody tr:nth-of-type(odd) { background-color: #fafbfc; }
    .table-hover tbody tr:hover { color: #656565; background-color: #fafbfc; }
    .table-default .form-control { height: calc(1.5em + .75rem + 0px); }
    .table-default td.customColor {
        color: #fff;
    }
    .row-divideTxt .col-md-6:first-child { padding-right: 50px; }
    .row-divideTxt .col-md-6:last-child { padding-left: 50px; }
    .orTxt span { color: #6c6c6c; font-weight: 600; font-size: 15px; display: inline-block; background: #fff; position: relative; z-index: 1; padding: 0 3px; }
    .orTxt { position: absolute; left: 0; top: 49%; right: 0; margin: auto; width: 66px; text-align: center; }
    .orTxt:after {content: "";background: #dedede;height: 2px;width: 100%;display: block;position: absolute;top: 8px;left: 0;right: 0;margin: auto;}
    
    .main .container-fluid {
        padding: 0 15px;
    }
    /*-------------------------------------------------------*/
    /* Animation Css
    /*-------------------------------------------------------*/
    /* .animated--grow-in{-webkit-animation-name:growIn;animation-name:growIn;-webkit-animation-duration:.2s;animation-duration:.2s;-webkit-animation-timing-function:transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);animation-timing-function:transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1)}
    @-webkit-keyframes growIn{0%{-webkit-transform:scale(.9);transform:scale(.9);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes growIn{0%{-webkit-transform:scale(.9);transform:scale(.9);opacity:0}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}
    
    
    footer.sticky-footer { padding: 15px; border-top: 1px solid #e8e8e8; -ms-flex-negative: 0; flex-shrink: 0; }
    .copyright { color: #adb8bf; font-size: 14px; font-weight: 600; }
    
    #main-wrapper #content-wrapper #content { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }
     */
    /*-------------------------------------------------------*/
    /* Responsive Css
    /*-------------------------------------------------------*/
    /* @media (min-width: 990px) {
        .sidebar {flex-basis: 15%;min-width: 200px;}
        .sidebar.toggled {
            overflow: visible;min-width: 56px;
            width: 56px!important;    flex-basis: auto;
        }
        #main-wrapper #content-wrapper {
            width: 75%;
            flex-basis: 85%;
        }
    } */
    /* @media (max-width: 990px) {
        .sidebar {    position: absolute;
            min-width: 56px;
            width: 56px!important;
            flex-basis: auto;
            left: 0;
            top: 0;}
            .sidebar > li.nav-item a > span, .sidebar > li.nav-item a.has-arrow:after, .sidebar .sidebar-brand-text {
                display: none;
            }
            .sidebar .sidebar-brand .sidebar-brand-icon {
                display: block;
            }
            .sidebar > li.nav-item:hover > a > span {
                display: inline-block;
                padding-left: 18px;
            }
            .sidebar > li.nav-item:hover > a {
                width: 200px;
                position: relative;
                z-index: 9;
            }
            #main-wrapper #content-wrapper {
                width: calc(100% - 56px);
                flex-basis: calc(100% - 56px);
                margin-left: 56px;
            }
    }
    @media (max-width: 767px) {
        .row-divideTxt .col-md-6:last-child {
            padding-left: 15px; padding-top: 50px; 
        }.row-divideTxt .col-md-6:first-child {
            padding-right: 15px; padding-top: 50px;
        }
        .orTxt{top: 53%}
    
      
    }
    
    @media (max-width: 640px) {
    
    } */
    

    /* .loginButton123{
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        width: 16%;
        float: right;
        } */
        .resultSection .d-flex span {
            margin-left: auto;
        }

        footer.app-footer {
            background: #F8F9FF;
        }
